
.cardWrapp {
  border: 2px solid black;
  width: 300px;
  margin: 10px;
  background-color: rgb(124, 115, 133);
  color: white;
  display: inline-block;
}

.imgWrapp {
  position: relative;
  width: inherit;
  height: 350px;
}

.img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: inherit;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
}

.userInfo {
  font-size: 1, 3rem;
  padding: 10px;
}
